res/project_schema.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="project">
	<xs:complexType>
		<xs:element name="name" type="xs:string"/>
		<xs:element name="description" type="xs:string"/>
		<xs:element name="binaryPath" type="xs:string"/>
		<xs:binaryProperties>
			<xs:os></xs:os>
			<xs:binarytype></xs:binarytype>
			<xs:machine></xs:machine>
			<xs:class></xs:class>
			<xs:bits></xs:bits>
			<xs:language></xs:language>
			<xs:canary></xs:canary>
			<xs:crypto></xs:crypto>
			<xs:nx></xs:nx>
			<xs:pic></xs:pic>
			<xs:relocs></xs:relocs>
			<xs:relro></xs:relro>
			<xs:stripped></xs:stripped>
		</xs:binaryProperties>
	</xs:complexType>
</xs:project>